.App{
    height: 2000px;
    width: 100%;
    background-image: linear-gradient(rebeccapurple, white);

}
.block1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.buttonBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 500px;
    border-radius: 0px;
}