.list-group-item{
    width:500px;
    padding-left: 0;

}
.grey{
    background-color: #f2f2f2;

}
.list-group{
}
ol{
    list-style-type: circle;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}